<a class="banner-section__item sale-item">
  <div class="sale-item__top">
    <div class="sale-item__propostion">акция</div>
    <div class="sale-item__price">
      <div class="sale-item__price-new">190 000</div>
      <div class="sale-item__price-old">255 000</div>
    </div>
  </div>
  <img src="assets/img/action.png" alt="" class="sale-item__image">
  <h5 class="sale-item__name">Лодочный мотор
    Suzuki DF9.9BRS</h5>
  <div class="sale-item__bottom">
    <div class="sale-item__info">Акция действует до</div>
    <div class="sale-item__time">31.08.2020</div>
  </div>
</a>
