<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__form-box">
        <h2 class="footer__form-title">Подпишитесь на нашу рассылку
          и узнавайте о акция быстрее</h2>
        <form action="" class="footer__form">
          <input  class="footer__form-email" type="email">
          <button class="btn-blue footer__form-button">Отправить</button>
        </form>
      </div>
      <ul class="footer__list">
        <li class="footer__list-item"><a href="" class="footer__list-link">Информация</a></li>
        <li class="footer__list-item"><a href="" class="footer__list-link">О компании</a></li>
        <li class="footer__list-item"><a href="" class="footer__list-link">Контакты</a></li>
        <li class="footer__list-item"><a href="" class="footer__list-link">Акции</a></li>
        <li class="footer__list-item"><a href="" class="footer__list-link">Магазины</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__list-item"><a href="" class="footer__list-link">      Интернет-магазин</a></li>
        <li class="footer__list-item"><a href="" class="footer__list-link">Доставка и самовывоз</a></li>
        <li class="footer__list-item"><a href="" class="footer__list-link">Оплата</a></li>
        <li class="footer__list-item"><a href="" class="footer__list-link">Возврат-обмен</a></li>
      </ul>
      <div class="footer__socials">
        <a href="" class="footer__socials-item">
          <img src="assets/img/socials/instagram.svg" alt="" >
        </a>
        <a href="" class="footer__socials-item">
          <img src="assets/img/socials/vk.svg" alt="" >
        </a>
        <a href="" class="footer__socials-item">
          <img src="assets/img/socials/facebook.svg" alt="" >
        </a>
        <a href="" class="footer__socials-item">
          <img src="assets/img/socials/youtube.svg" alt="" >
        </a>
      </div>
    </div>
    <div class="footer__info">
      <a href="#" class="footer__info-links">Договор оферты</a>
      <a href="" class="footer__info-links">Политика обработки персональных данных</a>
   </div>
  </div>
</footer>
