<header class="header">

  <div class="container">
    <div class="header__inner">
      <div class="header__top">
        <nav class="header__menu">
          <ul class="header__list">
            <li class="header__list-item"><a routerLink="catalog" routerLinkActive="active" class="header__list__item-link">Магазины</a></li>
            <li class="header__list-item"><a routerLink="catalog/katera" routerLinkActive="active" class="header__list__item-link">Акции </a></li>
            <li class="header__list-item"><a routerLink="catalog/gidrotsikly" class="header__list__item-link">Доставка и оплата</a></li>
          </ul>
        </nav>
        <a routerLink="/">
          <img src="assets/img/icons/logo.svg" alt="" class="header-logo">
        </a>
        <div class="header__info">
          <img src="assets/img/icons/geo.svg" alt="">
          <p class="header__adress">
            Москва,  ул. Науки  25
          </p>
          <ul class="header__info__list">
            <li class="header__info__list-item"><a href="#" class="header__info__list-link"><img src="assets/img/icons/like.svg" alt=""></a></li>
            <li class="header__info__list-item"><a href="#" class="header__info__list-link"><img src="assets/img/icons/user.svg" alt=""></a></li>
            <li class="header__info__list-item header__info__list-item--bin"><a href="#" class="header__info__list-link"><img src="assets/img/icons/bin.svg" alt=""></a></li>
          </ul>
        </div>
      </div>
      <div class="header__bottom">
        <nav class="header__categories">
          <ul class="header__categories__list">
            <li *ngFor="let link of links | async" class="header__categories__list-item"><a [routerLink] = "getLinkHref(link.translate)" [state]="{ categoryId: link.id }"  class="header__categories__list-link">{{link.name}}</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
