%sf-med{
  font-family: "SFProDisplay-Bold";
}
%sf-reg{
  font-family: "SFProDisplay-Regular";
}
%sf-bold{
  font-family: "SFProDisplay-Bold";
}
%sf-semibold{
  font-family: "SFProDisplay-Semibold";
}
%sf-regular{
  font-family: "SFProDisplay-Regular";
}
%proxima{
  font-family: "Proxima Nova Regular";
}
%barlow-bold{
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}
%barlow-regular{
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}
$txt-black:  #2F3035;
$bg-gray: #F0F0F4;
$bg-blue:#1C62CD;
$txt-white:#FFFFFF;
$light-gray: #C4C4C4;
