<div class="container">
  <app-breadcumps *ngIf="breadcumpsLinks else loadingBreadcumps" [links]="breadcumpsLinks"></app-breadcumps>
  <ng-template #loadingBreadcumps>
    Looading bradcrumps...
  </ng-template>
  <div class="product__content">
    <div class="product__left">

      <div class="product__action" *ngIf="currentProduct.inSale">SALE</div>
      <img src="{{currentProduct.photo}}" alt="">
      <div class="product__old-price">
        <span class="product__old-price__text">
          {{currentProduct.price - 139 + '₽'}}
        </span>
      <p class="product__new-price">{{currentProduct.price}}</p>
      <p class="product__proposition-text">Нашли дешевше? Зробимо знижку!</p>
      </div>
    </div>

    <div class="product__info">
      <h2 class="product__title">
        {{currentProduct.name}}
      </h2>
      <p class="product__id">
        Код товару:  {{currentProduct.id}}
      </p>
      <div class="product__actions">
        <button class="product__actions__item">
          <img src="assets/img/icons/like.svg" alt="">
        </button>
        <img src="assets/img/icons/rate.svg" alt="" class="product__show-rate product__actions__item">
        <div class="prodyct__rating product__actions__item">
          <rating [(ngModel)]="currentProduct.rates" [max]="max" [readonly]="true">
          </rating>
        </div>
      </div>
      <tabset>
        <tab heading="Характеристики" id="tab1" class="product__characteristics characteristics">
          <ul class="characteristics__list">
            <li class="characteristics__item">
              <p class="characteristics__item-object">
                Виробник
              </p>
              <p class="characteristics__item-definition">
                Канада
              </p>
            </li>
            <li class="characteristics__item">
              <p class="characteristics__item-object">
                Рік виготовлення
              </p>
              <p class="characteristics__item-definition">
                1999
              </p>
            </li>
            <li class="characteristics__item">
              <p class="characteristics__item-object">
                КПП
              </p>
              <p class="characteristics__item-definition">
                Автомат
              </p>
            </li>
            <li class="characteristics__item">
              <p class="characteristics__item-object">
                Двигун
              </p>
              <p class="characteristics__item-definition">
               0.7
              </p>
            </li>
          </ul>
          <button class="product__buy-button btn-blue">купити</button>
        </tab>
        <tab heading="Наявність в магазині">

        </tab>
      </tabset>
    </div>
  </div>
<!--  <app-products-slider [productsSelection]=""></app-products-slider>-->
</div>
