<section class="products-slider">
  <h3 class="products-slider__title">
    {{sliderHeading}}
  </h3>
  <div class="products-slider__content">


    <mat-tab-group [selectedIndex]="selected.value"  (selectedIndexChange)="changeFilteredProducts($event)">
      <mat-tab *ngFor="let category of productCategories | async;let i = index" [label]="category.name">
        <owl-carousel-o [options]="customOptions"  >
          <ng-template carouselSlide *ngFor="let product of productsFilteredByCategory | async">
            <app-product  [productInfo]="product"></app-product>
          </ng-template>
        </owl-carousel-o>
      </mat-tab>
    </mat-tab-group>



  </div>

</section>

