@import "src/assets/sass/main";
.intro{
  &__inner{
    display: grid;
    grid-template-columns: 65% 295px  ;
    grid-gap: 36px;
    justify-content: space-between;
    @include  mq('tablet-wide'){
      display: flex;
      flex-direction: column;
    }
  }
}
