<div class="search">
  <form action="#" class="search__form">
    <mat-tab-group mat-align-tabs="start" >
      <mat-tab label="Поиск по номеру" class="search__menu-tabs" class="active" (click)="activateLink()">
        <input type="text" class="search__form-input" placeholder="Введите марку ">
        <button class="btn-blue search__form-button">искать</button>
      </mat-tab>
      <mat-tab label="Введите марку"><input type="text" class="search__form-input" placeholder="Введите марку ">
        <button class="btn-blue search__form-button">искать</button>
      </mat-tab>
      <mat-tab label="Поиск по названию товара"><input type="text" class="search__form-input" placeholder="Введите марку ">
        <button class="btn-blue search__form-button ">искать</button>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>

